
body {

/* background-color:skyblue; */

}

.contenedor{
width: 100% auto;
/* height: 100% auto; */
height: 100vh;
padding: 10px 10px 21px 50px;
background-color:black;
}

.principal_scenario{

background-color:skyblue;
/* height: 100vh; */
height: 600px;
padding: 20px;
}

.principal_scenario img {
  width: 280px;
  height: 141px;
}

.scenario{

  width: 280px;
  height: 280px;
  border: 1px solid;
  cursor: pointer;
  background-color: white;
  float: left;
  margin: 10px;

}

.scenario:hover{
 box-shadow: 0 2px 12px 0 rgba(136, 136, 136, 0.5);

}

.titulo_scenario{

  text-align: center;
  padding: 5px;
  font-weight: bold;
}
